.menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 15%;
	height: 100%;
	background: #016DD5;
	box-sizing: border-box;
	padding-top: 20px;
	padding-left: 40px;
}

#logo {
	width: 55px;
	height: 45px;
	margin-bottom: 38px;
}

.naw li {
	margin-bottom: 20px;
}

.naw li img {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

.naw li a {
	color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.go-out{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: absolute;
	bottom: 22px;
}

.go-out img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}