.board {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 25px;
	box-sizing: border-box;
}

.board__item {
	flex: 1;
	box-sizing: border-box;
}

.board__item h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 13px;
}

.board__item__contnet {
	width: 100%;
	max-height: 700px;
	overflow: auto;

}

.board__applications {
	width: 303px;
	min-height: 110px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 7px 20px 17px 10px;
	margin-bottom: 10px;
	cursor: pointer;
	overflow: hidden;
}

.board__applications:last-child {
	margin-bottom: 0;
}

.board__applications h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 23px;
}

.board__applications__important {
	width: auto;
	height: auto;
	padding: 3px 7px;
	border-radius: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: white;
}

.board__applications__important-green{
	background-color: #00CC00;
}

.board__applications__important-yellow{
	background-color: rgb(255, 187, 16);
}

.board__applications__important-red{
	background: rgba(255, 0, 0, 0.63);
}

.board__applications img {
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 8px;
	border-radius: 50%;
}

.board__applications__finish {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.board__applications__finish h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #00CC00;
}